//Accordion
.accordion-item {
	border: unset;
	overflow: hidden;
	border-radius: 20px !important;
	background: $blogbox !important;
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
	padding: 24px;
	.accordion-header {
		.accordion-button {
			background: $blogbox !important;
			outline: none;
			font-size: 20px;
			font-weight: 500;
			color: $black;
			padding: 0;
		}
	}
	.accordion-body {
		padding-top: 0;
		padding: 0;
		p {
			max-width: 454px;
			font-size: 16px;
		}
	}
	@include breakpoint(max-xxsmall) {
		padding: 16px;
		.accordion-header {
			.accordion-button {
				font-size: 18px;
				font-weight: 500;
                line-height: 27px;
			}
		}
		.accordion-body {
			p {
				max-width: 454px;
				font-size: 14px;
			}
		}
	}
}
.accordion-button:not(.collapsed) {
	inset: 0 !important;
	box-shadow: none !important;

	margin-bottom: 10px;
}
.accordion-button:focus {
	z-index: 3;
	border-color: unset;
	outline: 0;
	box-shadow: none;
}
//Accordion
