.tahr{
	display: none;
}


//Global Social
.social-wrapper{
	a{
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
	}
}
//Global Social