//service
.service-items {
	padding: 60px;
	border-radius: 20px;
	background: $blogbox;
	position: relative;
	transition: all 0.4s;
	.icon {
		margin-bottom: 120px;
		transition: all 0.5s;
	}
	.content {
		p {
			margin-bottom: 40px;
		}
		.common-btn {
			border: 1px solid $p1-clr;
			&:hover {
				border-color: $p3-clr;
			}
		}
	}
	.badge {
		position: absolute;
		right: 6px;
		top: 8px;
		z-index: 1;
	}
	&:hover {
		.common-btn {
			border: 1px solid $p1-clr;
			border-color: $p1-clr;
			background: $p1-clr;
			color: $white;
		}
		.icon {
			transform: scale(0.9);
		}
	}
	@include breakpoint(max-xxl) {
		padding: 34px 30px;
		.icon {
			margin-bottom: 80px;
			width: 80px;
			img {
				width: 100%;
			}
		}
		.badge {
			right: 6px;
			top: 8px;
			max-width: 80px;
			img {
				width: 100%;
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 28px 20px;
		.icon {
			margin-bottom: 40px;
			width: 80px;
			img {
				width: 100%;
			}
		}
        .content{
            p{
                margin-bottom: 24px;
            }
        }
		.badge {
			right: 6px;
			top: 8px;
			max-width: 60px;
			img {
				width: 100%;
			}
		}
	}
}
//service area2
.service-areas{
	.service-items{
		padding: 40px 40px;
		.icon{
			margin-bottom: 40px;
		}
		@include breakpoint(max-xl){
			padding: 24px 20px;
			.icon{
				margin-bottom: 30px;
			}
		}
	}
}